<nav>
    <li><a href="/api/hospital">Főoldal</a></li>
    <li><a href="/api/hospital/doctors">Orvosok</a></li>
    <li><a href="/api/hospital/patient">Páciensek</a></li>
    <li><a href="/api/hospital/appointment">Időpont</a></li>
    <li><a href="/api/hospital/users">Felhasználok</a></li>
</nav>