<nav>
    <li><a href="/api/hospital">Főoldal</a></li>
    <li><a href="/api/hospital/doctors">Orvosok</a></li>
    <li><a href="/api/hospital">Főoldal</a></li>
    <li><a href="/api/hospital">Főoldal</a></li>
</nav>