<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Főoldal</title>
</head>
<body>
    <h1 style="text-align: center;">Üdv a <b>FŐOLDALON</b></h1>
    <h3>Ügyes vagy Rómeó</h3>
</body>
</html>